.section-container {
    display: flex;
    justify-content: space-between; /* Ensure the layout is horizontal */
    flex-wrap: wrap;
    width: 90%; /* Increase width to make items larger */
    margin: 0 auto; /* Center horizontally */
    padding-top: 0; /* Remove top padding */
    gap: 10px; /* Reduce gap between sections */
    position: relative;
    top: -625px; /* Move the container higher */
}

html, body {
    overflow: hidden; /* Prevent scrolling */
}

::-webkit-scrollbar {
    display: none;
}
/*----------about----------*/
#about {
    position: relative;
    top: -625px; /* Adjust this value to move the about section higher */
    padding: 0; /* Adjust padding as needed */
    color: #ababab;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: px;
    font-weight: 600;
    color: #F2F2F2;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 19.2px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #FA2A55;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #FA2A55;
    font-size: 16px;
    font-weight: bold;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.text-position {
    top: 575px;
    max-width: 720px;
    width: 100%; /* Ensures the container width doesn't exceed 720px */
    margin: -38rem auto; /* Centers the element horizontally */
    position: relative;
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-title {
    font-size: 23.04px;
    font-weight: bold;
    color: #F2F2F2;
    text-align: center;
    margin-bottom: 0.25rem;
}

.text-description {
    font-size: 16px;
    color: #F2F2F2;
    margin-bottom: 1.25rem;
    text-align: left; /* Aligns text content to the left */
}