/*----------general----------*/
::-webkit-scrollbar {
    display: none;
}

/*----------Youtube Video----------*/

.image-container {
    text-align: center;
    position: relative; /* Use relative positioning */
    top: -520px; /* Adjust this value to move the image higher or lower */
}

.image-container a {
    display: inline-block; /* Ensure the link is inline-block for proper spacing */
    position: relative; /* Position relative to contain the overlay */
}

.image-container img {
    height: auto;
    width: 720px; /* You can adjust this width to make it a 'good size' */
    border-radius: 5px; /* Add border radius */
    transition: opacity 0.5s ease; /* Smooth transition for opacity change */
    filter:grayscale(100%);
    transition: transform 0.3s, filter 0.5s, opacity 0.5s ease;
}

.image-container .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F2F2F2;
    font-size: 23.04px;
    opacity: 0; /* Hidden by default */
    pointer-events: none; /* Ensure text doesn't interfere with the link */
    font-weight: bold;
    transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}

.image-container a:hover img {
    filter:grayscale(0%);
}

.image-container a:hover .overlay {
    opacity: 1; /* Fully visible on hover */
}


/* Container for the environment sections */
.env-container {
    margin: 0 auto 3rem auto; /* Center, add space below each section, and between slider and text */
    max-width: 720px; /* Set a maximum width for responsiveness */
    margin-top: -38rem; /* Move the entire section higher on the page */
}

/* Title Styles for the Joji section */
.Joji-title {
    font-size: 23.04px;
    font-weight: bold;
    text-align: center; /* Center the content */
}

/* Paragraph Styles for the Joji section */
.Joji-title p {
    width: 100%; /* Set a specific width for the paragraphs */
    margin: 0.25rem auto 2rem auto; /* Center the paragraph and adjust margins */
    text-align: left; /* Align text to the left */
    font-size: 16px;
}

.text-position {
    top: 105px;
    max-width: 720px;
    width: 100%; /* Ensures the container width doesn't exceed 720px */
    margin: -38rem auto; /* Centers the element horizontally */
    position: relative;
    margin-bottom: 10rem;
}

.text-title {
    font-size: 23.04px;
    font-weight: bold;
    color: #F2F2F2;
    text-align: center;
    margin-bottom: 0.25rem;
}

.text-description {
    font-size: 16px;
    color: #F2F2F2;
    margin-bottom: 1.25rem;
    text-align: left; /* Aligns text content to the left */
}

.text-description-center {
    font-size: 16px;
    color: #F2F2F2;
    margin-bottom: 2rem;
    text-align: center; /* Aligns text content to the center */
}

.joji-position {
    top: 5px;
    max-width: 720px;
    width: 100%; /* Ensures the container width doesn't exceed 720px */
    margin: 0rem auto; /* Centers the element horizontally */
    position: relative;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0; /* Ensure it stays behind all other content */
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    opacity: 25%;
}

.offthegrid-button {
    position: fixed;
    right: 210px;
    top: 24.5%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #F2F2F2;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    z-index: 1000; /* Ensure the button is on top of other elements */
}

.photographyandvideography-button {
    position: fixed;
    right: 1480px;
    top: 24.5%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #F2F2F2;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    z-index: 1000; /* Ensure the button is on top of other elements */
}

.offthegrid-button:hover, .photographyandvideography-button:hover {
    background-color: #FA2A55;
}

.offthegrid-button i, .photographyandvideography-button i {
    margin-right: 4px;
}




