/*----------general----------*/
::-webkit-scrollbar {
    display: none;
}

/*----------offthegrid----------*/
.showcase .content {
    text-align: center;
}

.slider-container {
    position: relative;
    max-width: 540px;
    width: 100%;
    margin: 0 auto; /* Remove negative margin and adjust centering */
    overflow: hidden;
    margin-bottom: 1.5rem;
    top: -60px; /*top is -205px */
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    max-width: 540px; /* Ensure the slider doesn't exceed its container */
    margin: 0 auto; /* Center the slider */
}

.slider img {
    width: 100%;
    max-width: 540px;
    border-radius: 5px;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #FA2A55;
    border: none;
    padding: 10px;  /* Increased padding for a larger button */
    font-size: 19.2px;  /* Increased font size for any text or icons */
    cursor: pointer;
    z-index: 2;
}

.slider-btn.left {
    left: 0;
}

.slider-btn.right {
    right: 0;
}

.slider-nav {
    position: relative;
    margin-top: 20px; /* Add some margin to push it below the slider images */
    display: flex;
    justify-content: center;
    z-index: 2;
}

.slider-nav a {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
}

.slider-nav a.active {
    background-color: #FA2A55;
}

/* video */ 
.video-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.video-wrapper video {
    border-radius: 5px;
    max-width: 360px; /* Set the width to 360px */
    width: 100%; /* Ensure it takes up the full width of its container */
}

/* Text */
.magazine-title {
    font-size: 23.04px;
    font-weight: bold;
    color: #F2F2F2;
    text-align: center;
    margin-bottom: 0.75rem;
}

.text-position {
    top: -50px;
    max-width: 720px;
    width: 100%; /* Ensures the container width doesn't exceed 720px */
    margin: 0 auto; /* Centers the element horizontally */
    position: relative;
}

.streetphotography-position {
    top: -50px;
    max-width: 720px;
    width: 100%; /* Ensures the container width doesn't exceed 720px */
    margin: 0 auto; /* Centers the element horizontally */
    position: relative;
    margin-bottom: 2rem;
}

.text-title {
    font-size: 23.04px;
    font-weight: bold;
    color: #F2F2F2;
    text-align: center;
    margin-bottom: 0.25rem;
}

.text-description {
    font-size: 16px;
    color: #F2F2F2;
    margin-bottom: 2rem;
    text-align: left; /* Aligns text content to the left */
}

.text-description-center {
    font-size: 16px;
    color: #F2F2F2;
    text-align: center; /* Aligns text content to the center */
}

.intro-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 66%; /* Position from the top */
    max-width: 760px;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

@keyframes revealText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide-in {
    opacity: 0; /* Ensure the text is hidden initially */
    animation: revealText 2s ease-in-out forwards; /* Animation duration of 2 seconds for a slower reveal */
    animation-delay: 1s; /* Start the animation after 0.5 seconds */
}

/* Background */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0; /* Ensure it stays behind all other content */
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    opacity: 75%;
}

.axiom-button {
    position: fixed;
    right: 240px;
    top: 24.5%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #F2F2F2;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    z-index: 1000; /* Ensure the button is on top of other elements */
}

.photographyandvideography-button {
    position: fixed;
    right: 1480px;
    top: 24.5%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #F2F2F2;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    z-index: 1000; /* Ensure the button is on top of other elements */
}

.axiom-button:hover, .photographyandvideography-button:hover {
    background-color: #FA2A55;
}

.axiom-button i, .photographyandvideography-button i {
    margin-right: 4px;
}
