::-webkit-scrollbar {
    display: none;
}

/*----------img gallery----------*/

.img-gallery{
    width: 80%;
    margin: 0 auto 50px; /* Remove large negative margin */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    transform: translateY(-625px); /* Move the gallery up */
}

.img-gallery img{
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    cursor: pointer;
}

.img-gallery img:hover{
    transform: scale(1.05);
    border-radius: 5px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img{
    width: 90%;
    max-width: 500px;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #F2F2F2;
    cursor: pointer;
}



/* Flexbox centering */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Full width and height for absolute positioning */
.full-width-height {
    width: 100%;
    height: 100%;
}

/* Optional margin adjustments for absolute positioning */
.margin-0 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.video-container2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the video is behind other content */
}

.video-container2 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Other styles for the rest of your content */


.view-button {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FA2A55;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.3s;
}

.view-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

/* Tiktok */


@keyframes revealText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide-in {
    opacity: 0; /* Ensure the text is hidden initially */
    animation: revealText 2s ease-in-out forwards; /* Animation duration of 2 seconds for a slower reveal */
    animation-delay: 1s; /* Start the animation after 0.5 seconds */
}


